@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  font-family: 'General Sans', sans-serif;
}

body:before {
  content: 'mobile';
  display: none;
  visibility: hidden;
}

@media (min-width: 768px) {
  body:before {
    content: 'tablet';
  }
}

@media (min-width: 1280px) {
  body:before {
    content: 'desktop';
  }
}

@media (min-width: 1440px) {
  body:before {
    content: 'large';
  }
}

@layer base {
  h1,
  h2,
  h3 {
    @apply font-semibold font-serif text-ivory-300;
  }

  h1 {
    @apply text-7xl;
  }

  h2 {
    @apply text-5xl;
  }

  h3 {
    @apply text-3xl;
  }

  p {
    @apply text-base font-medium text-ivory-300;
  }
}
