@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Manrope', sans-serif;
}

@layer base {
  h1,
  h2,
  h3 {
    @apply font-medium text-grass-300;
  }

  h1 {
    @apply text-7xl;
  }

  h2 {
    @apply text-5xl;
  }
}
